#titleName {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 45px;
    text-align: center;
}

#confirmationTitle {
    text-align: center;
    margin-top: 200px;
    font-size: 45px;
    font-family: 'Ysabeau SC', sans-serif;
    color: white;
    background-color: #008E9B;

}

#homeBTN {
    font-size: 15px;
    margin-left: 750px;
    margin-top: 15px;
    padding: 15px;
    background: rgb(132, 196, 35);
    border: none;
    color: white;
}

#homeBTN:hover {
    cursor: pointer;
}